* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

header {
    background: #e50000;
    color: #fff;
    padding-block: 2rem;
    position: fixed;
    width: 100%;

    z-index: 10;

}

img {
    border-radius: 2.8rem;
    margin-bottom: 2.4rem;
    height: 66rem;
    width: 100%;
}

.italico {
    font-style: italic;
    text-align: center;
}

main {
    max-width: 1120px;
    margin-inline: auto;

    padding: 9rem;

    h1 {
        margin-bottom: 4rem;
        margin-top: 2rem;
        color: #0a5416;
    }
}

hr {

    margin-top: 3rem;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fff8f8;
}

.header-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    ul {
        display: flex;
        gap: 5rem;
        list-style: none;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        transform: scale(1.1);
        font-weight: bold;
        transition: ease-in-out .4s;
    }
}

main {
    background: #fff8f8;
    min-height: calc(100svh - 11.8rem);
    padding-block: 15.8rem 4rem;
}

#voltar-para-o-inicio {
    text-decoration: none;
    color: #0a5416;
    margin: 40rem;
}

.pontos-turisticos h1 {
    margin-bottom: 0rem;
}

.pontos-turisticos .img-p {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pontos-turisticos img {
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.pontos-turisticos .img-p {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pontos-turisticos:nth-of-type(even) .img-p {
    flex-direction: row-reverse;
}